.NotFound {
    line-height: 1.4;
    text-align: center;

    .messageWrapper {
        left: 50%;
        max-width: 520px;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 100%;

        .message {
            position: relative;
            height: 200px;
            margin: 0 auto 20px;
            z-index: -1;
            @media only screen and (max-width: 480px) {
                height: 148px;
                margin: 0 auto 10px;
            }

            h1 {
                font-family: 'Montserrat', sans-serif;
                font-size: 236px;
                font-weight: 200;
                margin: 0;
                color: #211b19;
                text-transform: uppercase;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                @media only screen and (max-width: 767px) {
                    font-size: 148px;
                }
                @media only screen and (max-width: 480px) {
                    font-size: 86px;
                }
            }

            h2 {
                font-family: 'Montserrat', sans-serif;
                font-size: 28px;
                font-weight: 400;
                text-transform: uppercase;
                color: #211b19;
                background: #fff;
                padding: 10px 5px;
                margin: auto;
                display: inline-block;
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                @media only screen and (max-width: 480px) {
                    font-size: 16px;
                }
              }
        }
    }

}

// .notfound a {
//     font-family: 'Montserrat', sans-serif;
//     display: inline-block;
//     font-weight: 700;
//     text-decoration: none;
//     color: #fff;
//     text-transform: uppercase;
//     padding: 13px 23px;
//     background: #ff6300;
//     font-size: 18px;
//     -webkit-transition: 0.2s all;
//     transition: 0.2s all;
//   }
  
//   .notfound a:hover {
//     color: #ff6300;
//     background: #211b19;
//   }

  
// @media only screen and (max-width: 480px) {
//     .notfound a {
//       padding: 7px 15px;
//       font-size: 14px;
//     }
//   }
  