.BtnAction {
    position: absolute;
    right: 16px;
    top: 15px;
    border-radius: 50%;
    border: 5px solid;
    width: 54px;
    height: 54px;
    line-height: 44px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    z-index: 20;
    transition: all 0.3s;
}