.BtnAction {
    border: 5px solid #fff;
    border-radius: 50%;
    height: 54px;
    line-height: 44px;
    position: absolute;
    right: 16px;
    text-align: center;
    top: 15px;
    transition: all 0.3s;
    width: 54px;
    z-index: 20;

    .material-card.active & {
        top: 32px;
    }
}