// TODO: Check what to do with nested components
// TODO: look into encapsulation 

.fa-spin-fast {
    animation: fa-spin-fast 0.2s infinite linear;
}

@keyframes fa-spin-fast {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(359deg);
    }
}

.ProjectItem {

    display: block;

    .material-card {
        position: relative;
        height: 0;
        padding-bottom: calc(100% - 16px);
        margin-bottom: 3.6em;

        h2 {
            position: absolute;
            top: calc(100% - 16px);
            left: 0;
            width: 100%;
            padding: 10px 16px;
            color: #fff;
            font-size: 1.4em;
            line-height: 1.6em;
            margin: 0;
            z-index: 10;
            transition: all 0.3s;

            &:before,
            &:after {
                content: ' ';
                position: absolute;
                left: 0;
                top: -16px;
                width: 0;
                border: 8px solid;
                transition: all 0.3s;
            }

            &:after {
                top: auto;
                bottom: 0;
            }
        }
        
    }

    .ribbon {
        h2 {
            background-color: #9E9E9E;
            &:after {
                border-top-color: #9E9E9E;
                border-right-color: #9E9E9E;
                border-bottom-color: transparent;
                border-left-color: transparent;
            }

            &:before {
                border-top-color: transparent;
                border-right-color: #212121;
                border-bottom-color: #212121;
                border-left-color: transparent;
            }
        }

        .BtnAction {
            background-color: #9E9E9E;
            &:hover {
                background-color: #212121;
            }
        }

        .Footer {
            h4 {
                color: #212121;
            }

            .devicon {
                background-color: #212121;
            }
        }
    }

    .material-card.active {
        @media screen and (max-width: 767px) {
            padding-bottom: 0;
            height: auto;
        }

        h2 {
            top: 0;
            padding: 10px 16px 10px 90px;

            &:before {
                top: 0;
            }

            &:after {
                bottom: -16px;
            }
        }
    }

    .material-card.ribbon.active {
        h2 {
            &:before {
                border-top-color: transparent;
                border-right-color: #9E9E9E;
                border-bottom-color: #9E9E9E;
                border-left-color: transparent;
            }

            &:after {
                border-top-color: #212121;
                border-right-color: #212121;
                border-bottom-color: transparent;
                border-left-color: transparent;
            }
        }

        .Content {
            background-color: #FAFAFA;
        }

        .BtnAction {
            border-color: #FAFAFA;
        }

        .Footer {
            background-color: #F5F5F5;
        }

    }
}
