@import './../Variables';

.About {

    .intro {
        margin: 1rem 0;
        padding: 0;
        width: 100%;

        @media (min-width: $md) {
            padding: 1rem;
        }
    }

    img {
        @media (min-width: $md) {
            height: 40rem;
        }
    }

    blockquote {
        font-style: italic;
        text-align: center;
        width: 40rem;
        height: auto;
        max-width: 100%;
        margin: auto;
        display: flex;
        align-items: center;

        @media (min-width: $md) {
            width: 30rem;
            height: 40rem;
        }
    }

}