// Colors
$white:             #ffffff;
$grey:              #a5a5a5;        // base.scss -- a
$black:             #322c2c;
$orange:            #f26730;
$blue:              #006193;
$red:               #cc3333;
$green:             #339900;
$yellow:            #f0d202;
// //
$text:              #8e8e8e;        // base.scss -- body
// Material Card
$ribbon-primary:    #9e9e9e;
$ribbon-secondary:  #212121;
$card-bg:           #fafafa;


// Screen-size
$sm: 48rem;                 // 768px
$md: 62rem;                 // 992px
$lg: 75rem;                 // 1200px