// Colors
$white:             #ffffff;
$gray:              #a5a5a5;        // base.scss -- a
$black:             #322c2c;
$text:              #8e8e8e;        // base.scss -- body
// Material Card
$ribbon-primary:    #9e9e9e;
$ribbon-secondary:  #212121;
$card-bg:           #fafafa;




// Screen-size
$sm: 48rem;                 // 768px
$md: 62rem;                 // 992px
$lg: 75rem;                 // 1200px