@import './../common/scss/Variables';

.Nav {
    position: relative;
    padding: 1.25rem 0;

    @media (min-width: $md) {
        padding: 2.5rem 0;
    }

    .logo {
        color: $black;
        font-weight: 700;
        font-size: 0.875rem;
        letter-spacing: 0.125rem;
        text-transform: uppercase;
        margin: 0;
    }

    ul {
        display: flex;
        justify-content: flex-start;

        @media (min-width: $md) {
            justify-content: flex-end;
        }

        li {
            font-size: 0.875rem;
            font-weight: 700;
            letter-spacing: 0.125rem;
            text-transform: uppercase;
            margin: 0 1.5rem 0;

            &:last-child {
                margin-right: 0;
            }
        }
    }

    .grid {
        >[class*="column-"] {
            padding: 0.25rem 1rem;
        }
    }
}